@charset "UTF-8";

@font-face {
    font-family: london;
    src: url(fonts/OldLondon.ttf) format(truetype), url(fonts/Olondon_.otf) format(opentype);
}

::root {
    --cor1: #F2F2F2;
    --cor2: #B0B5BF;
    --cor3: #7D828C;
    --cor4: #4A4E59; 
    --cor5: #353940;
}

body {
    background-image: linear-gradient(to right, #353940, #B0B5BF);
}

header {
    background-color: #353940;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 0px;
}

header > h1 {
    margin: auto;
    text-align: center;
    font-family: london;
    font-size: 4em;
    font-weight: normal;
}

header > h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

nav {
    background-color: #4A4E59;
    padding: 8px;
    margin: auto;
    text-align: left;
    max-width: 600px;
    padding-right: 90px;
    padding-left: 80px;
    min-width: 300px;
    max-width: 800px;
}

nav > a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin-left: 12px;
    min-width: 300px;
    max-width: 800px;
}

nav >a:hover {
    font-weight: bolder;
    font-weight: 20px;
    text-decoration: underline;
    background-color: #353940;
    color: whitesmoke;
}


main {
    margin: auto;
    background-color: #353940;
    min-width: 300px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 8px;
    
}

h1#principal {
    font-family: london;
    font-size: 3.5em;
    text-align: center;
}


img {
    height: 300px;
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

p {
    margin: 45px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
    font-size: 1.1em;
    font-weight: bolder;
}

aside {
    background-color: #7D828C;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
